/*----
 google font link
----
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&family=Roboto+Slab&family=Roboto:ital,wght@0,400;1,100&family=Ubuntu:ital@1&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* 
 header section  design starts
*/
.top-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    background-color: rgb(41, 36, 36);
    margin-left: 30px;
    margin: 0 auto;
    border-radius: 8px;
}

.animation {
    padding-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-2%, -5%);
    width: 100%;
}

.text-1 {
    font-size: 3em;
    font-weight: 700px;
    letter-spacing: 4px;
    position: relative;
    animation: text 3s linear infinite;
    animation-play-state: running;
}

@keyframes text {
    0% {
        letter-spacing: 5px;

    }

    30% {
        letter-spacing: 8px;

    }

    85% {
        letter-spacing: 8px;

    }
}

.feature {
    color: white;
    width: 500px;
}

.feature h1,
p {
    padding-left: 60px;
    margin-top: 20px;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700px;
    background-color: crimson;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 60px;
}

.feature img {
    width: 90%;
}

/*
-----------------------------
match schedule design start 
-----------------------------
*/

.blogs {
    display: flex;
    margin-top: 80px;
}

.match-schedules {
    margin-left: 10px;
}

.schedule {
    width: 170px;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}

.match-info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(231, 210, 182);
    border-radius: 12px;
    text-align: center;

}

.match-info a {
    color: rgb(41, 31, 31);
    text-decoration: none;
    padding: 7px;
    width: 130px;
    border-radius: 10px;
}

#blog-link {
    background-color: crimson;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 40px;
    border-radius: 10px;
}

.player {
    width: 500px;
    height: 370px;
    background-color: rgb(236, 233, 228);
    padding: 10px;
    border-radius: 10px;
}

.player,
img {
    width: 100%;
}

.tablet-button {
    position: relative;
    text-align: center;
    margin: 20px;
}

.card-icon span {
    margin-left: 50px;
    color: gray;
}

/* 
tablet device bottom button
*/
.tablet-button button {
    color: white;
    font-weight: 700px;
    background-color: crimson;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

/*
----------------------------
 Footer design start here
---------------------------*/

footer {
    background-color: black;
    text-align: center;
    color: lightgrey;
    padding: 20px;
    margin-top: 30px;
}

hr {
    background-color: rgb(65, 57, 57);
    margin-bottom: 50px;
}

.nav-bar {
    padding-bottom: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.icon a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 2em;
}

/*----------------
for Mobile view media query

------------------
 */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .top-features,
    .blogs {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .feature {
        width: 100%;
    }

    .feature img {
        margin-top: 19px;
    }

    .schedule {
        background-color: rgb(216, 236, 230);
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        background-color: rgb(229, 203, 203);
        flex-direction: column;
        height: 425px;
        width: 95%;
    }

    .nav-bar a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tablet-button {
        display: none;
    }
}


/* ----------------------------
For tablet media query
------------------------------
*/

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .top-features {
        padding-bottom: 20px;
    }

    .feature {
        width: 100%;
    }

    .feature img {
        padding-top: 50px;
        width: 100%;
    }

    .blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
    }

    .schedule {
        display: flex;
        width: 450px;
        background-color: rgb(171, 190, 171);
    }

    .match-info {
        margin-left: 20px;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        height: 400px;
    }

}

/* 
for desktop media query
*/
@media only screen and (min-width:993px) {
    .tablet-button {
        display: none;
    }
}